/**
 * @Author: Buntschu Leonard
 * @Date:   04-02-2025 14:26:39
 * @Last Modified by:   Buntschu Leonard
 * @Last Modified time: 05-02-2025 10:31:07
 */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: start;
  max-width: 320px;
}

button {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #4a5568;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e2e8f0;
}

.status {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.restart-btn {
  width: 200px;
  margin-top: 10px;
  background-color: #4299e1;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.restart-btn:hover {
  background-color: #3182ce;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.modal-button {
  padding: 10px 20px;
  background-color: #4299e1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-button:hover {
  background-color: #3182ce;
}

.modal-button:disabled {
  background-color: #d2d2d2;
  cursor: not-allowed;
}

